.profile img{
        border-radius: 5px;
        box-shadow: 3 2 2 rgba(0, 0, 0, 0.125);
    }
.profile-information input{
    height: 20px;
    width: 200px;
    flex-direction: column;
    display: flex;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.5);
}
.contact-us{
    flex-direction: column;
    display: flex;
}
@media (max-width: 480px) {
    .profile img{
        border-radius: 5px;
        box-shadow: 0 0 2 rgba(0, 0, 0, 0.125);
    }
    .container{
        padding: 30px;
    }
    .menu{
        flex-direction: column;
        padding: 20px;
    }
}